<h1>I'm Bob the Robot<h2>
  <h2><%= @robots.name %></h2>
  <h2><%= @robots.city %></h2>
  <h2><%= @robots.state %></h2>
  <h2><%= @robots.birthday %></h2>
  <h2><%= @robots.date_hired %></h2>
  <h2><%= @robots.department %></h2>
    <a href="/profile/<%= @robots.id %>/edit">Edit Robot</a>
